@import "tailwindcss";


@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --color-primary: #03a65a;
  --color-button: #016236;
  --color-bg: #f7fdfb;
  --color-muted: #293B0D;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}